/terramaster.properties
/terramaster0.log.0
/terramaster0.log.1
/terramaster0.log.2
/terramaster0.log.3
/.settings/
/ant-bin/
/bin/
/bin-ant/
/target/
/terramaster_0.log.0
/terramaster_0.log.1
/terramaster_0.log.2
/terramaster_0.log.3
